/*
THE SEVEN STEPS
1. Regular background. Paste "background-image: background: link url();"
2. Branding color and regular chevron background link
3. Regular chevron. Paste "background-image: cheveron link url();"
4. Retina Display versions of background and Chevron
5. Retina background. Paste "background-image: background: link url();"
6. Retina chevron. Paste images link in "background-image: link url(your-image-link-here);"
7. Global color changes for header text, links, navigation, and Carousel

*//*
1. Regular background. Paste "background-image: background: link url();"
*/
#container, .content, #frontpage-siderbar {
	background: url(/files/2013/04/debut_light.png) repeat !important;
}
/*
2. Branding color and regular chevron background link
*/
#dept-brand {
	background: #;
}
/*
3. Regular chevron. Paste "background-image: cheveron link url();"
*/
#department-logo {
	background-image: url(/files/2013/04/your-image-link-here.png);
}
/*
4. Retina Display versions of background and Chevron
*/
@media (-webkit-min-device-pixel-ratio: 2),  (min-resolution: 192dpi) {
/*
5. Retina background. Paste "background-image: background: link url();"
*/
#container, .content, #frontpage-siderbar {
	background: url(/files/2013/04/debut_light_@2X.png) repeat !important;
}
/*
6. Retina chevron. Paste images link in "background-image: link url(your-image-link-here);"
*/
#department-logo {
	background-image: url(/files/2013/04/your-image-link-here@2x.png);
}
}
/*
7. Global color changes for header text, links, navigation, and Carousel
*/
#container h1, #container h2, #container h3, #container h4, #container h5, #container h6, #container .hero-unit h1, #frontpage-siderbar .tab-pane a {
 color: #!important;
}
.simple-custom-menu .active a, .simple-custom-menu a:hover, .sidenav a:hover, .sidenav .accordion-heading:hover, .sidenav .accordion-heading .accordion-toggle:hover, #ubc7-carousel .carousel-caption, .ubc-carousel .carousel-caption, #ubc7-carousel-controller, .ubc7-carousel-controller, #ubc7-unit-
menu .nav-collapse .nav > li > a:hover, #ubc7-unit-menu .nav-collapse .dropdown-menu a:hover, #ubc7-unit-alternate-navigation .nav-collapse .nav > li > a:hover, #ubc7-unit-alternate-navigation .nav-collapse .dropdown-menu a:hover, #ubc7-unit-menu .btn-group:hover .btn, #ubc7-unit-menu .nav > li.active > .btn-group:hover .btn, #ubc7-unit-alternate-navigation .nav > li.active > .btn-group:hover .btn, #ubc7-unit-alternate-navigation .btn-group:hover .btn, #ubc7-unit-menu .nav-collapse .nav>li>a:hover, .accordion.sidenav .single a.opened, #frontpage-siderbar .nav-tabs>li>a, .nav-tabs>li>a, #content .accordion-group .accordion-heading a:hover {
 background: #!important;
}
#frontpage-siderbar .nav-tabs>li.active>a, .nav-tabs>li.active>a {
	background: #!important;
        border: 1px solid #;
}
/*Commented out style that adds a document icon after every pdf or .docx link*/
/*#content a[href$='.pdf']:after, #content a[href$='.doc']:after, #content a[href$='.docx']:after {
font-family: FontAwesome;
content: "\f0f6";
padding-left: 7px;
}*/
